body,
html {
  position: relative;
  background-image: url(/images/background-sea.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}

.grid-container {
  display: grid;
  height: 100vh;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 0.2fr 1.5fr 1.2fr 0.8fr;
  gap: 5px;
  grid-template-areas:
    "nav nav nav nav"
    "sidebar main main main"
    "sidebar content1 content2 content3"
    "sidebar footer footer footer";
}

main {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 0.6fr;
  grid-template-areas: "mainbox1 mainbox2";
}

.mainbox1 {
  grid-area: mainbox1;
  text-align: center;
  color: black;
  font-size: 12vh;
  font-family: Arial, Helvetica, sans-serif;
}

.mainbox2 {
  grid-area: mainbox2;
  background-image: url(/images/shark.png);
}

nav {
  background-color: rgb(39, 68, 80);
  grid-area: nav;
  display: flex;
  justify-content: flex-end;
}

ul {
  list-style: none;
  display: flex;
}

li a {
  text-decoration: none;
  color: white;
}

main {
  grid-area: main;
}

h2 {
  font-size: 2.5vh;
  font-family: Arial, Helvetica, sans-serif;
}

h3 {
  font-size: 10vh;
}

p {
  font-size: 7vh;
  font-family: Arial, Helvetica, sans-serif;
  color: white;
}

.sidebar {
  background-color: rgb(29, 85, 109);
  background-image: url(/images/sealion-tricks.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  border-radius: 10%;
  grid-area: sidebar;
  font-size: 7vh;
  font-family: Arial, Helvetica, sans-serif;
  color: white;
  display: grid;
  text-align: center;
}

.content1 {
  grid-area: content1;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

.content2 {
  grid-area: content2;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

.content3 {
  grid-area: content3;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

.img1 {
  display: flex;
  height: 100px;
  width: 110px;
}

.img2 {
  display: flex;
  height: 100px;
  width: 110px;
}

.img3 {
  display: flex;
  height: 100px;
  width: 110px;
}

.img4 {
  display: flex;
  height: 100px;
  width: 110px;
}

.img5 {
  display: flex;
  height: 100px;
  width: 110px;
}

.img6 {
  display: flex;
  height: 100px;
  width: 110px;
}

footer {
  background-color: rgb(81, 119, 136);
  grid-area: footer;
  display: grid;
  text-align: center;
}
